.hero-section {
    min-height: 800px;
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('../../../images/beachImage.jpg')  top center/cover;
}

.hero-container {
    position: relative;
    margin: auto;
    max-width: 1440px;
    height: 100vh;
    min-height: 800px;
    padding: 2rem;
}

.hero-katrinas {
    font-size: 14rem;
    z-index: 1;
    color: var(--color-primary-dark);
    font-family: var(--font-heading-primary);
}
.hero-creations {
    position: absolute;
    font-size: 8rem;
    left: 40%;
    top: 50%;
    z-index: 2;
    color: var(--color-primary-pink);
    font-family: var(--font-heading-primary);
}

.hero-cta {
    color: var(--color-primary-dark);
    position:absolute;
    top: 50%;
    right: 32px;
    font-size: 1.5rem;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: column;
}

.hero-cta div {
    text-align: right;
}

.hero-title {
    font-size: 2.2rem;
    font-weight: 700;
}

.hero-subtitle {
    font-size: 1.1rem;
}

.hero-cta-button {
    text-decoration: none;
    color: var(--color-primary-dark);
    background: var(--color-primary-pink);
    border-radius: 10px;
    padding: 1.2rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    border: 2px solid var(--color-primary-dark);
    margin: auto;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    box-shadow: 1px 5px 15px 5px rgba(190, 82, 132, 0.15);
}

.hero-cta-button:hover {
    cursor: pointer;
    opacity: .9;
}

.hero-cta-button:focus {
    outline: none;
}

.hero-cta-button:active {
    box-shadow: 1px 5px 15px 5px rgba(0, 0, 0, .1);
}