.hero-container {
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(117, 53, 64, .75), rgba(234, 192, 192, .75)), url('../../images/family-beach1440.jpg')  center center/cover;
    position: relative
}

.hero-title {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%)
}

.hero-katrinas {
    font-size: 14rem;
    z-index: 1;
    color: var(--color-primary-dark)
}
.hero-creations {
    position: absolute;
    font-size: 8rem;
    left: 40%;
    top: 50%;
    z-index: 2;
    color: var(--color-primary-pink)
}

.hero-cta {
    color: #ffffff;
    position:absolute;
    top: 65%;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.hero-cta-button {
    text-decoration: none;
    color: var(--color-primary-dark);
    background: var(--color-primary-pink);
    border-radius: 50px;
    padding: 1.2rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    border: 2px solid var(--color-primary-dark);
    margin: auto;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    box-shadow: 1px 5px 15px 5px rgba(0, 0, 0, .15);
}

.hero-cta-button:hover {
    cursor: pointer;
}

.hero-cta-button:focus {
    outline: none;
}

.hero-cta-button:active {
    box-shadow: 1px 5px 15px 5px rgba(0, 0, 0, .1);
}