.main-header {
    height: 50px;
    background: var(--color-primary-dark);
    color: var(--color-text-light);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    opacity: .95;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header-container a {
    color: var(--color-text-light);
    text-decoration: none;

}

.left-nav a {
    padding: 3rem;
    padding-left: 0;
    font-family: var(--font-heading-primary);
    font-size: 1.5rem
}

.left-nav a:hover {
    cursor: pointer;
}

.right-nav a {
    padding: 1rem;
    padding-right: 0;
    margin-left: 4rem;
}

.right-nav a:hover {
    cursor: pointer;
    color: var(--color-primary-pink);
}

.header-katrinas {
    color: var(--color-text-light)
}

.header-creations {
    color: var(--color-primary-pink)
}